workflows/Knowledge Base Embedding Pipeline.json
{
  "name": "Knowledge Base Embedding Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        0
      ],
      "id": "4b8ac68c-9e2e-4687-98e6-d6b12fabc203",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1HNrr3QfbyAWcwbwhaFS2wOZDH4ljVPXX",
            "mode": "list",
            "cachedResultName": "Knowledge Base (RAG)",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1HNrr3QfbyAWcwbwhaFS2wOZDH4ljVPXX"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        0
      ],
      "id": "d4f44b6f-c4bc-4efa-b9f5-abd081f55cec",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fpV1lKlz47MsX9xy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        0
      ],
      "id": "339631f6-0d45-428c-af17-c4b3760d2d26",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fpV1lKlz47MsX9xy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-mistral-embeddings",
          "mode": "list",
          "cachedResultName": "n8n-mistral-embeddings"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "martial_arts_knowledge_base"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -48,
        0
      ],
      "id": "2081e637-6d86-4af8-a6ad-9d72f594b89d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "7eVvFuI6bRQc7QZh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        112,
        144
      ],
      "id": "e88ffa39-356a-4e7e-8164-2deb19a3b710",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "id": "546cc32a-3315-4753-8b4e-f85f340fd37a",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "38NwFL7hYNRXsa8K",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Searches for files in a specific Google Drive folder that contains the knowledge base documents",
        "height": 272,
        "width": 166,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -128
      ],
      "typeVersion": 1,
      "id": "7c8bdf8a-3f82-494a-904d-cd779125f304",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Downloads the files found in the previous step so they can be processed further.",
        "height": 256,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -112
      ],
      "typeVersion": 1,
      "id": "a93cbf4e-091e-4d5a-98b0-956d18254714",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Starts the workflow manually when you click “Execute workflow",
        "height": 224,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -80
      ],
      "typeVersion": 1,
      "id": "6a37c030-469a-4a82-9cca-d9850987c80a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\nLoads downloaded files and optionally splits them into pages, attaching metadata like the file name.",
        "height": 224,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        128
      ],
      "typeVersion": 1,
      "id": "9b5a5bea-2bbe-477a-a698-fdf8588f84bc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\nGenerates embeddings for the loaded documents using Mistral Cloud’s embedding model.",
        "height": 240,
        "width": 166,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        144
      ],
      "typeVersion": 1,
      "id": "76595794-1a3b-44a5-a2fb-f991483aab8f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Inserts the generated embeddings into a Pinecone vector database under the “martial_arts_knowledge_base” namespace for later retrieval.",
        "height": 224,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -112
      ],
      "typeVersion": 1,
      "id": "ee09bb45-e1ea-464b-9963-0050bfb51736",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 1000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        464,
        160
      ],
      "id": "b691791d-dfb7-4827-aea5-db5d505449da",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nSplits loaded text into smaller chunks recursively, preserving context for better embeddings",
        "height": 224,
        "width": 230,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        128
      ],
      "typeVersion": 1,
      "id": "4560386f-4ac0-433a-b5ed-388baea326d5",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4699eb19-11a8-4d16-93f6-3665f2933a64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4de8a13b1a92f934a2c777a93d52eceb8549afda747f6c680f227b748b6c36da"
  },
  "id": "svKtj3CoRkwWoRgR",
  "tags": []
}